*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    width: 100vw;
    height: 100vh;
}

/*HEADER*/
ul:only-child{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 2em 4em;
    gap: 8em;
    justify-content: center;
    align-items: center;
    width: 100%;
}
li>a{
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .2s ease;
}
li>a:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2em 1em;
}


/*HOME PAGE*/


/*MAIN #CONTENT*/
#content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    align-items: center;
}



/*TEAM PAGE*/
.memberContainer{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    gap:0.5em;
    border: 2px solid olive;
    border-radius: 10px;
    padding: 1em 2em;
}

.memberContainer>img{
    width: 14em;
    height: 12em;
}

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}